<section id="bookpage" class="ftco-section bookpage" style="position: relative;">
    <!-- 이동버튼 -->
    {% include "books/moveBtn.html" %}
    <!-- 북마크 -->
    {% include "books/bookmark.html" %}

    <!-- 1페이지를 표지로 만들 때 -->
    <div id="flipbook" class="flipbook">
        <div class="hard start-cover">
            <!-- cover -->
            <div class="book-wrap">
                <div class="cover-content">
                    <span>Do You Know Koding?</span>
                        <br>
                        <h1>
                            <strong class="strong-color">K</strong>orean c<strong class="strong-color">ODING</strong></h1>
                        <br>
                        language analysis report
                        </h1>
                </div>
            </div>
        </div>
        <div class="hard">
            <!-- 소개 페이지-->
            <div class="book-wrap" style="padding-top: 100px; margin-left: 50px">
                <div class="page-content nanum-font">
                    <span>Do You Know Koding?</span>
                        <br>
                        <h1>
                            <strong class="strong-color">Contents</strong><br>
                        </h1> 
                        <h3>
                            <li>  언어 강의 수<br></li>
                            <li>  Python<br></li>
                            <li>  Java<br></li>
                            <li>  C language</li>
                        </h3>
                </div>
            </div>
        </div>
        <div>
            <div class="book-wrap">
                <div class="page-content nanum-font">
                    <img src="static/images/charts/test.png" alt="" width="650" height=auto>
                </div>
                <h4 class="text-center">조사한 7개 사이트의 프로그래밍 언어별 평균 조회수</h4>
            </div>
        </div>

        <div>
            <!-- Python -->
            <div class="book-wrap">
                <div class="page-content nanum-font">
                    <h1>
                        1. Python
                        <br><br>
                        <img src="static/wordcloud/python_white.png" style="float: left; width: 550px; height: auto">
                    </h1>
                </div>
            </div>
        </div>
        <div>
            <div class="book-wrap">
                <div class="page-content nanum-font">
                    <h1>
                        <img src="static/images/charts/python_site_view_lec.png" style="float: left; width: 650px; height: auto;" alt="">
                    </h1>
                </div>
            </div>
        </div>
        <div>
            <div class="book-wrap">
                <div class="page-content nanum-font">
                    <h1>
                        <img src="static/images/charts/python_site_view_lec(pie).png" style="float: left; width: 650px; height: auto;" alt="">
                    </h1>
                </div>
            </div>
        </div>
        <div>
            <div class="book-wrap">
                <div class="page-content nanum-font">
                    <h1>
                        <img src="static/images/charts/python_view_max.png" style="float: left; width: 650px; height: auto;" alt="">
                    </h1>
                    <div class="row" style="background-color: #EAEAEA; font-size: 20px">
                        <div class="col-1">  </div>
                        <div class="col-5">강의명</div>
                        <div class="col-3">사이트 이름</div>
                        <div class="col-2">바로가기</div>
                    </div>
                        <div class="table" style="font-size: 16px">
                        <div class="row">
                            <div class="col-1">1</div>
                            <div class="col-5">파이썬 처음부터 하기</div>
                            <div class="col-3">인프런</div>
                            <div class="col-2">
                                <button type="button" class="btn btn-outline-primary"><a href="https://www.notion.so/KFQ-2-53c8c1d14d5146bfb508aff26a951a4a">링크</a></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">2</div>
                            <div class="col-5">초등학생도 하는 파이썬</div>
                            <div class="col-3">인프런</div>
                            <div class="col-2">
                                <button type="button" class="btn btn-outline-primary"><a href="https://www.notion.so/KFQ-2-53c8c1d14d5146bfb508aff26a951a4a">링크</a></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">3</div>
                            <div class="col-5">Python in Machine Learning</div>
                            <div class="col-3">프로그래머스</div>
                            <div class="col-2">
                                <button type="button" class="btn btn-outline-primary"><a href="https://www.notion.so/KFQ-2-53c8c1d14d5146bfb508aff26a951a4a">링크</a></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div>
            <!-- Java -->
            <div class="book-wrap">
                <div class="page-content nanum-font">
                    <h1>
                        2. Java
                        <br><br>
                        <img src="static/wordcloud/java_white.png" style="float: left; width: 550px; height: auto">
                    </h1>
                </div>
            </div>
        </div>
        <div>
            <div class="book-wrap">
                <div class="page-content nanum-font">
                    <h1>
                        <img src="static/images/charts/java_site_view_lec.png" style="float: left; width: 650px; height: auto;" alt="">
                    </h1>
                </div>
            </div>
        </div>
        <div>
            <div class="book-wrap">
                <div class="page-content nanum-font">
                    <h1>
                        <img src="static/images/charts/java_site_view_lec(pie).png" style="float: left; width: 650px; height: auto;" alt="">
                    </h1>
                </div>
            </div>
        </div>
        <div>
            <div class="book-wrap">
                <div class="page-content nanum-font">
                    <h1>
                        <img src="static/images/charts/java_view_max.png" style="float: left; width: 650px; height: auto;" alt="">
                    </h1>
                </div>
            </div>
        </div>


        <div>
            <!-- C -->
            <div class="book-wrap">
                <div class="page-content nanum-font">
                    <h1>
                        3. C
                        <br><br>
                        <img src="static/wordcloud/c_white.png" style="float: left; width: 550px; height: auto">
                    </h1>
                </div>
            </div>
        </div>
        <div>
            <div class="book-wrap">
                <div class="page-content nanum-font">
                    <h1>
                        <img src="static/images/charts/c_site_view_lec.png" style="float: left; width: 650px; height: auto;" alt="">
                    </h1>
                </div>
            </div>
        </div>
        <div>
            <div class="book-wrap">
                <div class="page-content nanum-font">
                    <h1>
                        <img src="static/images/charts/c_site_view_lec(pie).png" style="float: left; width: 650px; height: auto;" alt="">
                    </h1>
                </div>
            </div>
        </div>
        <div>
            <div class="book-wrap">
                <div class="page-content nanum-font">
                    <h1>
                        <img src="static/images/charts/c_view_max.png" style="float: left; width: 650px; height: auto;" alt="">
                    </h1>
                </div>
            </div>
        </div>
    </div>

</section>

<style>
    .graph-iframe {
        height: 50vh;
        width: 50vh;
    }

    .strong-color {
        color: #448ef6;
    }

    .cover-content {
        position: absolute;
        top: 30%;
        left: 40%; 
        height: 100%;
        width: 100%;
    }

    .page-content {}

    .book-wrap {
        padding: 2rem;
        width: 100%;
        height: 100%;
    }

    .flipbook {
        z-index: 1;
    }

    /*짝수*/
    .even {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 255);
        background-image: url("../static/images/books/right-border.png");
        background-position: right top;
        background-repeat: repeat-y;
        -webkit-box-shadow: inset 5px 5px 15px 1px rgba(0, 0, 0, 0.3) !important;
        -moz-box-shadow: inset 5px 5px 15px 1px rgba(0, 0, 0, 0.3) !important;
        box-shadow: inset 5px 5px 15px 1px rgba(0, 0, 0, 0.3) !important;
    }

    /*홀수*/
    .odd {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 255);
        background-image: url("../static/images/books/left-border.png");
        background-position: left top;
        background-repeat: repeat-y;
        -webkit-box-shadow: inset -5px 5px 15px 1px rgba(0, 0, 0, 0.3) !important;
        -moz-box-shadow: inset -5px 5px 15px 1px rgba(0, 0, 0, 0.3) !important;
        box-shadow: inset -5px 5px 15px 1px rgba(0, 0, 0, 0.3) !important;
    }

    .hard {
        background-color: rgba(255, 255, 255, 255);
    }

    .bookpage {
        padding-top: 75px;
        padding-bottom: 25px;
    }

    .flipbook {
        margin-left: auto;
        margin-right: auto;
    }
</style>