<section id="bookpage" class="ftco-section bookpage" style="position: relative;">
    <!-- 이동버튼 -->
    {% include "books/moveBtn.html" %}
    <!-- 북마크 -->
    {% include "books/bookmark.html" %}

    <!-- 1페이지를 표지로 만들 때 -->
    <div id="flipbook" class="flipbook">
        <div class="hard start-cover">
            <!-- cover -->
            <div class="book-wrap">
                <div class="cover-content">
                    <span>Do You Know Koding?</span>
                    <br>
                    <h1>
                        <strong class="strong-color">K</strong>orean c<strong class="strong-color">ODING</strong>
                        <br>
                        language analysis report
                    </h1>
                </div>
            </div>
        </div>
        <div class="hard">
            <!-- 소개 페이지-->
            <div class="book-wrap">
                <div class="page-content nanum-font">
                    {% include "books/pages/page_2.html" %}
                </div>
            </div>
        </div>
        <div>
            <div class="book-wrap">
                <div class="page-content nanum-font">
                    <img src="static/images/charts/test.png" alt="" width="650" height=auto>
                </div>
                <h4 class="text-center">조사한 7개 사이트의 프로그래밍 언어별 강의 수 총합</h4>
            </div>
        </div>
        <div>
            <!-- C -->
            <div class="book-wrap">
                <div class="page-content nanum-font">
                    {% include "books/pages/page_3.html" %}
                </div>
            </div>
        </div>
        <div>
            <div class="book-wrap">
                <div class="page-content nanum-font">
                    {% include "books/pages/page_4.html" %}
                </div>
            </div>
        </div>
        <div>
            <div class="book-wrap">
                <div class="page-content nanum-font">
                    {% include "books/pages/page_5.html" %}
                </div>
            </div>
        </div>
        <div>
            <div class="book-wrap">
                <div class="page-content nanum-font">
                    {% include "books/pages/page_6.html" %}
                </div>
            </div>
        </div>
        <div>
            <div class="book-wrap">
                <div class="page-content nanum-font">
                    {% include "books/pages/page_7.html" %}
                </div>
            </div>
        </div>
        <div>
            <div class="book-wrap">
                <div class="page-content nanum-font">
                    {% include "books/pages/page_8.html" %}
                </div>
            </div>
        </div>

        <div>
            <div class="book-wrap">
                <div class="page-content nanum-font">
                    <h1>
                        우리나라의 강의 사이트들을 분석하여
                        <br>
                        프로그래밍 교육시장의 동향을 알아본다.
                    </h1>
                </div>
            </div>
        </div>
        <div>
            <div class="book-wrap">
                <div class="page-content nanum-font">
                    <h1>
                        우리나라의 강의 사이트들을 분석하여
                        <br>
                        프로그래밍 교육시장의 동향을 알아본다.
                    </h1>
                </div>
            </div>
        </div>
        <div class="hard ">
            <div class="book-wrap">
                <div class="page-content nanum-font">
                    <h1>
                        우리나라의 강의 사이트들을 분석하여
                        <br>
                        프로그래밍 교육시장의 동향을 알아본다.
                    </h1>
                </div>
            </div>
        </div>
        <div class="hard end-cover">
            <div class="book-wrap">
                <div class="page-content nanum-font">
                    <h1>
                        Copyright
                        <br>
                        Dou You Konw Koding?
                    </h1>
                </div>
            </div>
        </div>
    </div>

</section>

<style>
    .graph-iframe {
        height: 50vh;
        width: 50vh;
    }

    .strong-color {
        color: #448ef6;
    }

    .strong-color {
        color: #298312;
    }

    .cover-content {
        position: absolute;
        top: 30%;
        left: 25%;
        height: 100%;
        width: 100%;
    }

    .page-content {}

    .book-wrap {
        padding: 2rem;
        width: 100%;
        height: 100%;
    }

    .flipbook {
        z-index: 1;
    }

    /*짝수*/
    .even {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../static/images/books/right-border.png");
        background-position: right top;
        background-repeat: repeat-y;
        -webkit-box-shadow: inset 5px 5px 15px 1px rgba(0, 0, 0, 0.3) !important;
        -moz-box-shadow: inset 5px 5px 15px 1px rgba(0, 0, 0, 0.3) !important;
        box-shadow: inset 5px 5px 15px 1px rgba(0, 0, 0, 0.3) !important;
    }

    /*홀수*/
    .odd {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../static/images/books/left-border.png");
        background-position: left top;
        background-repeat: repeat-y;
        -webkit-box-shadow: inset -5px 5px 15px 1px rgba(0, 0, 0, 0.3) !important;
        -moz-box-shadow: inset -5px 5px 15px 1px rgba(0, 0, 0, 0.3) !important;
        box-shadow: inset -5px 5px 15px 1px rgba(0, 0, 0, 0.3) !important;
    }

    .hard {}

    .bookpage {
        padding-top: 75px;
        padding-bottom: 25px;
    }

    .flipbook {
        margin-left: auto;
        margin-right: auto;
    }

    .page {
        background-color: #EEF0F4
    }
</style>