<button id="allBtn" class="mark-btn bttn-material-flat bttn-md bttn-royal bttn-no-outline" style="right:5%; ">
    <i class="fas fa-book"></i>
</button>
<button id="pythonBtn" class="mark-btn bttn-material-flat bttn-md bttn-primary bttn-no-outline" style="right:10%">
    <i class="fab fa-python"></i>
</button>
<button id="javaBtn" class="mark-btn bttn-material-flat bttn-md bttn-danger bttn-no-outline" style="right:15%">
    <i class="fab fa-java"></i>
</button>
<button id="cBtn" class="mark-btn bttn-material-flat bttn-md bttn-success bttn-no-outline" style="right:20%">
    <i class="fas fa-copyright"></i>
</button>
<button id="etcBtn" class="mark-btn bttn-material-flat bttn-md bttn-warning bttn-no-outline" style="right:25%">
    <i class="fas fa-comment-dots"></i>
</button>

<style>
    .mark-btn {
        position: absolute;
        z-index: 3;
        height: 4rem;
        margin-top: -3rem;
    }
</style>