<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>
                    <br>
                    All rights reserved | This site is made with by
                    <a href="https://www.notion.so/ragu/KFQ-2-53c8c1d14d5146bfb508aff26a951a4a" target="_blank">
                        Do You Know Team Min Jae?
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>