<div class="container mt-5 mb-5">
    <div class="row align-self-center">
        <div class="col-12 mb-5 text-center">
            <div class="card m-auto" style="width: 18rem;">
                <img src="../static/images/illustration/panda.png" class="card-img-top img-fluid">
                <div class="card-body nanum-font">
                    <h5 class="card-title">조장 김민재</h5>
                    <p class="card-text">우리 다시 만나지 마요.</p>
                </div>
                <div class="card-footer text-muted">
                    <button class="bttn-material-circle bttn-md bbtn-no-outline">
                        <a class="card-link" href="https://github.com/minjjjae" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-4 mb-5 text-center">
            <div class="card m-auto" style="width: 18rem;">
                <img src="../static/images/illustration/bear.png" class="card-img-top img-fluid">
                <div class="card-body nanum-font">
                    <h5 class="card-title">조원 정종민</h5>
                    <p class="card-text">조장님 별로</p>
                </div>
                <div class="card-footer text-muted">
                    <button class="bttn-material-circle bttn-md bbtn-no-outline">
                        <a class="card-link" href="https://github.com/JJJong" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-4 mb-5 text-center">
            <div class="card m-auto" style="width: 18rem;">
                <img src="../static/images/illustration/zoro.png" class="card-img-top img-fluid">
                <div class="card-body nanum-font">
                    <h5 class="card-title">조원 이성철</h5>
                    <p class="card-text">힘들었지만 의미 있었습니다.</p>
                </div>
                <div class="card-footer text-muted">
                    <button class="bttn-material-circle bttn-md bbtn-no-outline">
                        <a class="card-link" href="https://github.com/seongcheol-lee" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-4 mb-5 text-center">
            <div class="card m-auto" style="width: 18rem;">
                <img src="../static/images/illustration/iron.png" class="card-img-top img-fluid">
                <div class="card-body nanum-font">
                    <h5 class="card-title">조원 정우영</h5>
                    <p class="card-text">I'm Tired 3000</p>
                </div>
                <div class="card-footer text-muted">
                    <button class="bttn-material-circle bttn-md bbtn-no-outline">
                        <a class="card-link" href="https://github.com/ragu6963" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .card-link:link {
        color: black;
        text-decoration: none;
    }

    .card-link:visited {
        text-decoration: none;
        color: black;
    }

    .card-link:active {
        text-decoration: none;
        color: black;
    }

    .card-link:hover {
        text-decoration: underline;
        color: black;
    }
</style>