<div class="container mt-5 mb-5">
    <div class="row align-self-center">
        <div class="col-12 mt-5 mb-5">
            <div class="card m-auto" style="width: 18rem;">
                <img src="../static/images/illustration/panda.png" class="card-img-top img-fluid">
                <div class="card-body nanum-font">
                    <h5 class="card-title">조장 김민재</h5>
                    <p class="card-text">조장님 별로에욧</p>
                </div>
            </div>
        </div>
        <div class="col-4 mt-5 mb-5">
            <div class="card m-auto" style="width: 18rem;">
                <img src="../static/images/illustration/bear.png" class="card-img-top img-fluid">
                <div class="card-body nanum-font">
                    <h5 class="card-title">조원 정종민</h5>
                    <p class="card-text">조장님 별로에욧</p>
                </div>
            </div>
        </div>
        <div class="col-4 mt-5 mb-5">
            <div class="card m-auto" style="width: 18rem;">
                <img src="../static/images/illustration/zoro.png" class="card-img-top img-fluid">
                <div class="card-body nanum-font">
                    <h5 class="card-title">조원 이성철</h5>
                    <p class="card-text">조장님 별로에욧</p>
                </div>
            </div>
        </div>
        <div class="col-4 mt-5 mb-5">
            <div class="card m-auto" style="width: 18rem;">
                <img src="../static/images/illustration/iron.png" class="card-img-top img-fluid">
                <div class="card-body nanum-font">
                    <h5 class="card-title">조원 정우영</h5>
                    <p class="card-text">조장님 별로에욧</p>
                </div>
            </div>
        </div>
    </div>
</div>