<section id="bookpage" class="ftco-section bookcovor" style="position: relative;">
    <!-- 이동버튼 -->
    <button id="prevBtn" class="moveBtn btn btn-link btn-lg" style="left:1.5rem;">
        <i class="fas fa-angle-left fa-3x"></i>
    </button>
    <button id="nextBtn" class="moveBtn btn btn-link btn-lg" style="right:1.5rem;">
        <i class="fas fa-angle-right fa-3x"></i>
    </button>

    <!-- 북마크 -->
    <button id="allBtn" class="markBtn bttn-material-flat bttn-md bttn-royal bttn-no-outline"
        style="left:5%; visibility: hidden;">
        <i class="fas fa-book"></i>
    </button>
    <button id="pythonBtn" class="markBtn bttn-material-flat bttn-md bttn-primary bttn-no-outline" style="right:10%">
        <i class="fab fa-python"></i>
    </button>
    <button id="javaBtn" class="markBtn bttn-material-flat bttn-md bttn-danger bttn-no-outline" style="right:15%">
        <i class="fab fa-java"></i>
    </button>
    <button id="cBtn" class="markBtn bttn-material-flat bttn-md bttn-success bttn-no-outline" style="right:20%">
        <i class="fas fa-copyright"></i>
    </button>
    <button id="etcBtn" class="markBtn bttn-material-flat bttn-md bttn-warning bttn-no-outline" style="right:25%">
        <i class="fas fa-comment-dots"></i>
    </button>
    <div id="flipbook" class="flipbook">
        <div class="hard" style="overflow:visible">
            <h1>
                <!-- 1page -->
                첫화면
            </h1>
        </div>
        <div class="hard">
            <h1>
                <!-- 2page -->
                파이썬1
            </h1>+
        </div>
        <div class="pg1">
            <h1>
                <!-- 3page -->
                파이썬2
            </h1>
        </div>
        <div class="pg2">
            <h1>
                <!-- 4page -->
                자바1
            </h1>
        </div>
        <div class="pg3">
            <h1>
                <!-- 5page -->
                자바2
            </h1>
        </div>
        <div class="pg4">
            <h1>
                <!-- 6page -->
                c언어1
            </h1>
        </div>
        <div class="pg1">
            <h1>
                <!-- 7page -->
                c언어2
            </h1>
        </div>
        <div class="pg2">
            <h1>
                <!-- 8page -->
                기타1
            </h1>
        </div>
        <div class="pg3">
            <h1>
                기타1
            </h1>
        </div>
        <div class="pg4">
            <h1>
                기타1
            </h1>
        </div>
        <div class="hard">
            <h1>
                마지막1
            </h1>
        </div>
        <div class="hard">
            <h1>
                마지막2
            </h1>
        </div>
    </div>

</section>

<style>
    html {
        overflow-x: hidden
    }

    .hard {
        background-color: #00F;
    }

    .bookcovor {
        padding-top: 75px;
        padding-bottom: 25px;
    }

    .flipbook {
        margin-left: auto;
        margin-right: auto;
    }

    .moveBtn {
        position: absolute;
        top: 50%;
        z-index: 2;
        color: grey !important;
        opacity: 0.5;
    }

    .markBtn {
        position: absolute;
        z-index: 0;
        height: 3.5rem;
        margin-top: -50px
    }

    .pg1 {
        background-color: #FF0;
    }

    .pg2 {
        background-color: #0FF;
    }

    .pg3 {
        background-color: #F0F;
    }

    .pg4 {
        background-color: #F00
    }
</style>