<div class="container mt-5 mb-5">
    <div class="row align-self-center">
        <div class="col-6 mt-5 mb-5">
            <div class="card m-auto" style="width: 18rem;">
                <img src="../static/images/panda.png" class="card-img-top img-fluid">
                <div class="card-body nanum_font">
                    <h5 class="card-title">조장 김민재</h5>
                    <p class="card-text">조장님 별로에욧</p>
                </div>
            </div>
        </div>
        <div class="col-6 mt-5 mb-5">
            <div class="card m-auto" style="width: 18rem;">
                <img src="../static/images/bear.png" class="card-img-top img-fluid">
                <div class="card-body nanum_font">
                    <h5 class="card-title">조원 정종민</h5>
                    <p class="card-text">조장님 별로에욧</p>
                </div>
            </div>
        </div>
        <div class="col-6 mt-5 mb-5">
            <div class="card m-auto" style="width: 18rem;">
                <img src="../static/images/zoro.jpg" class="card-img-top img-fluid">
                <div class="card-body nanum_font">
                    <h5 class="card-title">조원 이성철</h5>
                    <p class="card-text">조장님 별로에욧</p>
                </div>
            </div>
        </div>
        <div class="col-6 mt-5 mb-5">
            <div class="card m-auto" style="width: 18rem;">
                <img src="../static/images/iron.jpg" class="card-img-top img-fluid">
                <div class="card-body nanum_font">
                    <h5 class="card-title">조원 정우영</h5>
                    <p class="card-text">조장님 별로에욧</p>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

    .nanum_font {
        font-family: 'Nanum Gothic', sans-serif;
    }
</style>