<div class="container">
    <div class="row no-gutters justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
            <!-- <span class="subheading">팀 소개</span> -->
            <h2 class="mb-4">팀원 소개</h2>
            <p>
                사이트를 만든 4명의 팀원들.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
            <div href="portfolio.html" class="image" data-scrollax=" properties: { translateY: '-20%'}">
                팀원 1(이미지)
            </div>
            <div class="text">
                <h2 class="heading">팀원 1(이름)</h2>
                <h3 class="subheading"><a href="portfolio.html">역할</a></h3>
                <p>
                    Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic
                    life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the
                    far World of Grammar.
                </p>
                <p>
                    <a href="portfolio.html" class="btn btn-primary px-4">View Portfolio</a>
                </p>
            </div>
        </div>
        <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
            <div href="portfolio.html" class="image image-2 order-2" data-scrollax=" properties: { translateY: '-20%'}">
                팀원 2(이미지)
            </div>
            <div class="text order-1">
                <h2 class="heading">팀원 2(이름)</h2>
                <h3 class="subheading"><a href="portfolio.html">역할</a></h3>
                <p>
                    Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic
                    life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the
                    far World of Grammar.
                </p>
                <p>
                    <a href="portfolio.html" class="btn btn-primary px-4">View Portfolio</a>
                </p>
            </div>
        </div>
        <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
            <div href="portfolio.html" class="image" data-scrollax=" properties: { translateY: '-20%'}">
                팀원 3(이미지)
            </div>
            <div class="text">
                <h2 class="heading">팀원 3(이름)</h2>
                <h3 class="subheading"><a href="portfolio.html">역할</a></h3>
                <p>
                    Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic
                    life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the
                    far World of Grammar.
                </p>
                <p>
                    <a href="portfolio.html" class="btn btn-primary px-4">View Portfolio</a>
                </p>
            </div>
        </div>
        <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
            <div href="portfolio.html" class="image image-2 order-2" data-scrollax=" properties: { translateY: '-20%'}">
                팀원 4(이미지)
            </div>
            <div class="text order-1">
                <h2 class="heading">팀원 4(이름)</h2>
                <h3 class="subheading"><a href="portfolio.html">역할</a></h3>
                <p>
                    Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic
                    life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the
                    far World of Grammar.
                </p>
                <p>
                    <a href="portfolio.html" class="btn btn-primary px-4">View Portfolio</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <span><a href="#" class="btn btn-primary py-3 px-5">View All Projects</a></span>
        </div>
    </div>
</div>