{% extends "base.html" %}
{% block content %}
{% include "etc/intro.html" %}
{% include "books/book.html" %}

<section class="ftco-section-parallax">
  <div class="parallax-img d-flex align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
          <h2 style="font-family:Work Sans, Arial, sans-serif;">Do You Know Team MinJae?
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "etc/introduce.html" %}
{% include "etc/footer.html" %}
{% include "etc/loader.html" %}
{% endblock content %}