{% extends "base.html" %}
{% block content %}

{% include "intro.html" %}
{% include "sc-book.html" %}

<section class="ftco-section-parallax">
  <div class="parallax-img d-flex align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
          <h2>Subcribe to our Contents</h2>
          <p>
            You can get precise information and insight about an useful programming language by subscribing to our contents.
          </p>
          <div class="row d-flex justify-content-center mt-5">
            <div class="col-md-6">
              <form action="#" class="subscribe-form">
                <div class="form-group">
                  <span class="icon icon-paper-plane"></span>
                  <input type="text" class="form-control" placeholder="Enter email address">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "introduce.html" %}

{% include "footer.html" %}
{% include "loader.html" %}

{% endblock content %}