<span>Do You Know Koding?</span>
<h1>
    <strong class="strong-color">Contents</strong><br>
</h1>
<div class="list-group list-group-flush">
    <a id="numberIndex" onclick="numberGo()" class=" list-group-item list-group-item-action text-dark hover-a">
        <div class="row justify-content-md-center">
            <div class="col">
                Total Language Analysis
            </div>
            <div class="col-md-auto">
            </div>
            <div class="col col-lg-4" style="text-align: right;">
                3
            </div>
        </div>
    </a>
    <a id="pythonIndex" onclick="pythonGo()" class="list-group-item list-group-item-action text-dark hover-a">
        <div class="row justify-content-md-center">
            <div class="col">
                Python
            </div>
            <div class="col-md-auto">
            </div>
            <div class="col col-lg-4" style="text-align: right;">
                6
            </div>
        </div>
    </a>
    <a id="javaIndex" onclick="javaGo()" class="list-group-item list-group-item-action text-dark hover-a">
        <div class="row justify-content-md-center">
            <div class="col">
                Java
            </div>
            <div class="col-md-auto">
            </div>
            <div class="col col-lg-4" style="text-align: right;">
                10
            </div>
        </div>
    </a>
    <a id="cIndex" onclick="cGo()" class="list-group-item list-group-item-action text-dark hover-a">
        <div class="row justify-content-md-center">
            <div class="col">
                C language
            </div>
            <div class="col-md-auto">
            </div>
            <div class="col col-lg-4" style="text-align: right;">
                14
            </div>
        </div>
    </a>
    <a id="etcIndex" onclick="etcGo()" class="list-group-item list-group-item-action text-dark hover-a">
        <div class="row justify-content-md-center">
            <div class="col">
                ETC
            </div>
            <div class="col-md-auto">
            </div>
            <div class="col col-lg-4" style="text-align: right;">
                18
            </div>
        </div>
    </a>
    <a id="etcIndex" onclick="sourceGo()" class="list-group-item list-group-item-action text-dark hover-a">
        <div class="row justify-content-md-center">
            <div class="col">
                Data Source
            </div>
            <div class="col-md-auto">
            </div>
            <div class="col col-lg-4" style="text-align: right;">
                21
            </div>
        </div>
    </a>
    <hr>
</div>
<h5 class="page-number">
    -2-
</h5>