<h4>Data Source</h4>
<div class="source-list">
    <ul class="list-group list-group-flush">
        <a href="https://www.inflearn.com/" class="list-group-item list-group-item-action text-dark hover-a"
            target="_blank">
            inflearn
        </a>
        <a href="https://edu.goorm.io/" class="list-group-item list-group-item-action text-dark hover-a"
            target="_blank">
            goorm edu
        </a>
        <a href="https://www.edwith.org/" class="list-group-item list-group-item-action text-dark hover-a"
            target="_blank">
            edwith
        </a>
        <a href="https://www.gseek.kr/main/intro" class="list-group-item list-group-item-action text-dark hover-a"
            target="_blank">
            gseek
        </a>
        <a href="https://programmers.co.kr/" class="list-group-item list-group-item-action text-dark hover-a"
            target="_blank">
            programmers
        </a>
        <a href="http://www.kocw.net/home/index.do" class="list-group-item list-group-item-action text-dark hover-a"
            target="_blank">
            kocw
        </a>
        <a href="https://opentutorials.org/course/1" class="list-group-item list-group-item-action text-dark hover-a"
            target="_blank">
            생활코딩
        </a>
        <a href="https://insights.stackoverflow.com/survey/2019/?utm_source=social-share&utm_medium=social&utm_campaign=dev-survey-2019#technology"
            class="list-group-item list-group-item-action text-dark hover-a" target="_blank">
            Stack Overflow
        </a>
        <a href="http://pypl.github.io/PYPL.html" target="_blank"
            class="list-group-item list-group-item-action text-dark hover-a">
            PYPL
        </a>
        <a href="https://madnight.github.io/githut" target="_blank"
            class="list-group-item list-group-item-action text-dark hover-a">
            Github
        </a>
    </ul>
    <h5 class="page-number">
        -21-
    </h5>
</div>
<style>
    .source-list {
        font-size: 0.9rem;
    }
</style>