<img class="chart-image mx-auto d-block" src="static/images/charts/java_view_max.png">
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">순위</th>
                <th scope="col">이름</th>
                <th scope="col">조회수</th>
                <th scope="col">바로가기</th>
            </tr>
        </thead>
        <tbody>
            {% for index in range(0,3) %}
            <tr>
                <td class="td-center">{{index+1}}</td>
                <td>
                    <div style="overflow:hidden; text-overflow:ellipsis; width:300px;">
                        <nobr>{{java_dict["title"][index]}}</nobr>
                    </div>
                </td>
                <td>
                    {{java_dict["view"][index]}}
                </td>
                <td class="td-center">
                    <button class="bttn-material-circle bttn-sm bttn-primary bttn-no-outline">
                        <a href="{{java_dict['url'][index]}}"><i class="fas fa-external-link-alt"></i></a>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>