<h1>
    <img src="static/images/charts/python_site_view_lec(pie).png" alt="" width="650">
</h1>
<h1>
    <img src="static/images/charts/python_view_max.png" style="float: left; width: 650px; height: auto;" alt="">
</h1>
<div class="row" style="background-color: #EAEAEA; font-size: 20px">
    <div class="col-1"> </div>
    <div class="col-5">강의명</div>
    <div class="col-3">사이트 이름</div>
    <div class="col-2">바로가기</div>
</div>
<div class="table" style="font-size: 16px">
    <div class="row">
        <div class="col-1">1</div>
        <div class="col-5">파이썬 처음부터 하기</div>
        <div class="col-3">인프런</div>
        <div class="col-2">
            <button type="button" class="btn btn-outline-primary"><a
                    href="https://www.notion.so/KFQ-2-53c8c1d14d5146bfb508aff26a951a4a">링크</a></button>
        </div>
    </div>
    <div class="row">
        <div class="col-1">2</div>
        <div class="col-5">초등학생도 하는 파이썬</div>
        <div class="col-3">인프런</div>
        <div class="col-2">
            <button type="button" class="btn btn-outline-primary"><a
                    href="https://www.notion.so/KFQ-2-53c8c1d14d5146bfb508aff26a951a4a">링크</a></button>
        </div>
    </div>
    <div class="row">
        <div class="col-1">3</div>
        <div class="col-5">Python in Machine Learning</div>
        <div class="col-3">프로그래머스</div>
        <div class="col-2">
            <button type="button" class="btn btn-outline-primary"><a
                    href="https://www.notion.so/KFQ-2-53c8c1d14d5146bfb508aff26a951a4a">링크</a></button>
        </div>
    </div>
</div>
<h5 class="page-number">
    -3-
</h5>